.cryptoRow {
    background-color: #48394C;
    display: flex;
    justify-content: space-between;
    padding: 1.25rem;
}

.cryptoRow:nth-child(odd) {
    background-color: #625665;
}

.cell {
    flex: 1;
}

.name {
    flex: 1;
}

.name img {
    padding-right: 10px;
    vertical-align: middle;
    width: 35px;
}

.price {
    text-align: right;
}

.oneHour {
    flex: 0.5;
    text-align: right;
}

.twentyFourHours {
    flex: 0.5;
    text-align: right;
}

.sevenDays {
    flex: 0.5;
    text-align: right;
}

.chart {
    margin-left: 1em;
    min-width: 130px;
    display: flex;
    justify-content: flex-end;
}

.volume {
    text-align: right;
}

.marketCap {
    text-align: right;
}

@media screen and (max-width: 1120px) {
    .marketCap {
        display: none;
    }
}

@media screen and (max-width: 1024px) {
    .volume {
        display: none;
    }
}