.titleRow {
    background-color: black;
    border: 1px solid black;
    border-radius: 0.25rem;
    display: flex;
    font-weight: bold;
    justify-content: space-between;
    margin: 0.2rem 0.2rem 0.5rem 0.2rem;
    padding: 0.5rem 1rem;
}
  
.titleCell {
    flex: 1;
}
  
.titleRank {
    flex: 0.5;
}
  
.titlePrice {
    text-align: right;
}
  
.titleOneHour {
    flex: 0.5;
    text-align: right;
}
  
.title24Hours {
    flex: 0.5;
    text-align: right;
}
  
.titleSevenDays {
    flex: 0.5;
    text-align: right;
}
  
.titleVolume {
    text-align: right;
}
  
.titleMarketCap {
    text-align: right;
}

@media screen and (max-width: 1120px) {
    .titleMarketCap {
        display: none;
    }
}

@media screen and (max-width: 1024px) {
    .titleVolume {
        display: none;
    }
}