.titleRow {
    background-color: #110B13;
    display: flex;
    justify-content: space-between;
    padding: 10px 1.25rem;
}

.titleCell {
    flex: 1;
    font-family: "Chivo Mono";
}

.titleName {
    flex: 1;
}

.titlePrice {
    text-align: right;
}

.titleOneHour {
    flex: 0.5;
    text-align: right;
}

.title24Hours {
    flex: 0.5;
    text-align: right;
}

.titleChart{
    margin-left: 1em;
    min-width: 130px;
    display: flex;
    justify-content: flex-end;
}

.titleSevenDays {
    flex: 0.5;
    text-align: right;
}

.titleVolume {
    text-align: right;
}

.titleMarketCap {
    text-align: right;
}

@media screen and (max-width: 1120px) {
    .titleMarketCap {
        display: none;
    }
}

@media screen and (max-width: 1024px) {
    .titleVolume {
        display: none;
    }
}