@import url('https://fonts.googleapis.com/css?family=Chivo+Mono|Anuphan');

body {
  background-color: rgb(46, 29, 50);
  color: white;
  font-family: "Anuphan";
}

.big-heading {
  text-align: center;
  margin-top: 40px;
  font-family: "Chivo Mono";
}

.rowContainer {
  margin: 30px 50px;
}